.tooltip {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.tooltiptext {
  z-index: 999;
  visibility: hidden;
  width: fit-content;
  background-color: rgb(21, 21, 21);
  color: #ffffffce;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(131, 162, 207, 0.493);
  white-space: nowrap;

  /* Positioning */
  position: absolute;
  bottom: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.unsaved-changes-tooltip {
    transform: translateX(-75px);
}
